# Fabgennix Hour Calculation
Takes google form response data into interpreted hour calculation for wages of hourly contract employees.

In [1]:
import pandas as pd
import csv

In [2]:
df = pd.read_csv("../data/Clock in Form (Responses) - Form Responses 1.csv")
df.head(5)

,Month,Unnamed: 1,Unnamed: 2,Name,Time,Hours (Duration),Blood Delivery,Hours (Duration) OLD,Rate,Unnamed: 9,Unnamed: 10
0,Jun 2020,NaN,6/8/2020 8:00:00,Victor,Clock-in,NaN,NaN,NaN,NaN,NaN,NaN
1,Jun 2020,NaN,6/8/2020 12:00:00,Victor,Clock-out,4:00:00,NaN,4:00:00,NaN,NaN,NaN
2,Jun 2020,NaN,6/9/2020 7:30:06,Victor,Clock-in,,NaN,,NaN,NaN,NaN
3,Jun 2020,NaN,6/9/2020 14:02:06,Victor,Clock-out,6:32:00,NaN,6:32:00,NaN,NaN,NaN
4,Jun 2020,NaN,6/10/2020 6:56:00,Victor,Clock-in,,NaN,,NaN,NaN,NaN

In [3]:
df["Name"] = "Elizabeth"
df.head(5)

,Month,Unnamed: 1,Unnamed: 2,Name,Time,Hours (Duration),Blood Delivery,Hours (Duration) OLD,Rate,Unnamed: 9,Unnamed: 10
0,Jun 2020,NaN,6/8/2020 8:00:00,Elizabeth,Clock-in,NaN,NaN,NaN,NaN,NaN,NaN
1,Jun 2020,NaN,6/8/2020 12:00:00,Elizabeth,Clock-out,4:00:00,NaN,4:00:00,NaN,NaN,NaN
2,Jun 2020,NaN,6/9/2020 7:30:06,Elizabeth,Clock-in,,NaN,,NaN,NaN,NaN
3,Jun 2020,NaN,6/9/2020 14:02:06,Elizabeth,Clock-out,6:32:00,NaN,6:32:00,NaN,NaN,NaN
4,Jun 2020,NaN,6/10/2020 6:56:00,Elizabeth,Clock-in,,NaN,,NaN,NaN,NaN

In [4]:
df = df.rename(columns={"Unnamed: 2" : "Time Stamp"})
df.head(2)

,Month,Unnamed: 1,Time Stamp,Name,Time,Hours (Duration),Blood Delivery,Hours (Duration) OLD,Rate,Unnamed: 9,Unnamed: 10
0,Jun 2020,NaN,6/8/2020 8:00:00,Elizabeth,Clock-in,NaN,NaN,NaN,NaN,NaN,NaN
1,Jun 2020,NaN,6/8/2020 12:00:00,Elizabeth,Clock-out,4:00:00,NaN,4:00:00,NaN,NaN,NaN

In [5]:
edf_in = df[["Name", "Time", "Time Stamp"]]\
    .loc[(df["Name"] == "Elizabeth") & (df["Time"] == "Clock-in"), :]
edf_in.head()

        Name      Time         Time Stamp
0  Elizabeth  Clock-in   6/8/2020 8:00:00
2  Elizabeth  Clock-in   6/9/2020 7:30:06
4  Elizabeth  Clock-in  6/10/2020 6:56:00
6  Elizabeth  Clock-in  6/11/2020 6:59:09
8  Elizabeth  Clock-in  6/12/2020 6:59:43

In [6]:
edf_out = df[["Name", "Time", "Time Stamp"]]\
    .loc[(df["Name"] == "Elizabeth") & (df["Time"] == "Clock-out"), :]
edf_out

           Name       Time          Time Stamp
1     Elizabeth  Clock-out   6/8/2020 12:00:00
3     Elizabeth  Clock-out   6/9/2020 14:02:06
5     Elizabeth  Clock-out  6/10/2020 14:15:56
7     Elizabeth  Clock-out  6/11/2020 14:14:49
9     Elizabeth  Clock-out  6/12/2020 13:25:57
...         ...        ...                 ...
2351  Elizabeth  Clock-out  8/23/2023 13:31:31
2353  Elizabeth  Clock-out  8/24/2023 16:03:05
2355  Elizabeth  Clock-out  8/25/2023 12:47:14
2357  Elizabeth  Clock-out  8/26/2023 13:15:58
2359  Elizabeth  Clock-out  8/28/2023 10:17:55

[1160 rows x 3 columns]

In [7]:
print(f'''
    Clock ins: {edf_in.count()}
    Clock Outs: {edf_out.count()}
''')

    Clock ins: Name          1187
Time          1187
Time Stamp    1187
dtype: int64
    Clock Outs: Name          1160
Time          1160
Time Stamp    1160
dtype: int64

In [8]:
edf = df.loc[df["Name"] == "Elizabeth"]
edf

,Month,Unnamed: 1,Time Stamp,Name,Time,Hours (Duration),Blood Delivery,Hours (Duration) OLD,Rate,Unnamed: 9,Unnamed: 10
0,Jun 2020,NaN,6/8/2020 8:00:00,Elizabeth,Clock-in,NaN,NaN,NaN,NaN,NaN,NaN
1,Jun 2020,NaN,6/8/2020 12:00:00,Elizabeth,Clock-out,4:00:00,NaN,4:00:00,NaN,NaN,NaN
2,Jun 2020,NaN,6/9/2020 7:30:06,Elizabeth,Clock-in,,NaN,,NaN,NaN,NaN
3,Jun 2020,NaN,6/9/2020 14:02:06,Elizabeth,Clock-out,6:32:00,NaN,6:32:00,NaN,NaN,NaN
4,Jun 2020,NaN,6/10/2020 6:56:00,Elizabeth,Clock-in,,NaN,,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
3449,NaN,NaN,NaN,Elizabeth,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3450,NaN,NaN,NaN,Elizabeth,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3451,NaN,NaN,NaN,Elizabeth,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3452,NaN,NaN,NaN,Elizabeth,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3453,NaN,NaN,NaN,Elizabeth,NaN,NaN,NaN,,NaN,NaN,NaN